/*Setting default for respective elements*/
body{ 
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Mono";
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

iframe{ /*Removing iframe border*/
    border: none;
}

h1{
    margin: auto;
    padding-top: 40px;
    color: black;
    font-family: "Radio Canada";
    text-align: center;
    font-size: 80px;
    letter-spacing: 40px;
    padding-left: 40px; /*To make it centralised because letter-spacing makes it move to the right*/
}

h2{
    margin: 20px auto;
    font-family: "Radio Canada";
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 10px;
    padding-left: 10px; /*To make it centralised because letter-spacing makes it move to the right*/
}

#submit, .submit{ /*For All Submit Buttons in Forms*/
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Roboto Mono";
    letter-spacing: 7px;
    font-weight: 700;
    transition: 0.15s;
}

/*Navigation bar*/
#nav-container { /*Navigation background and making flex container*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #eb7b6a;
    color: black;
    position: fixed;
    line-height: 75px;
    width: 100%;
    z-index: 100; /*Pushing the nav to the top always*/
}

/*Adjusting Nav Buttons for desktop view*/
#navigation-buttons{
    display: flex;
    flex: 1;
    font-size: 17px;
    justify-content: flex-start;
    padding-left: 40px; /*Give it some space from the side*/
}

#navigation-buttons li{
    margin-left: 5px; /*Make it a bit more spaced out*/
}

/*Adding design to navigation buttons*/
#navigation-buttons li{
    transition: 0.15s;
}

#navigation-buttons li a{
    text-decoration: none;
    color: black;
    padding: 0px 15px;
    transition: 0.15s;
    font-weight: 500;
}

#navigation-buttons li:hover{
    border-top: 3px solid black;
}

#navigation-buttons li:active{
    border-top: 3px solid white;
}

#navigation-buttons li a:active{
    color:white;
    font-weight: bolder;
}

/*Adjusting logo and adding design*/
#main-logo{
    font-family: Kristi;
    text-align: center;
    justify-content: center;
    padding: 0 20px;
}

a#main-logo{
    color: black;
    font-size: 50px;
}

/*Adjusting Social Media Icons*/
#nav-socialmedia-buttons{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px; /*Give it some space from the side*/
}

#nav-socialmedia-buttons img {
    display: flex;
    align-items: center;
    margin-left: 15px;
    width: 35px;
    height: 35px;
}

/*Making the hamburger invisible on desktop*/
.hamburger{
    display: none;
}

/*Footer*/
#footer-container { /*Footer background and making flex container*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(248, 238, 225);
    color: black;
    line-height: 50px;
    width: 100%;
    padding: 60px 0 30px 0;
}

/*Adjusting Nav Buttons for desktop view*/
#footer-buttons{
    display: flex;
    flex: 1;
    font-size: 17px;
    justify-content: center;
}

/*Adding design to navigation buttons*/
#footer-buttons li{
    transition: 0.15s;
    padding: 0 10px;
}

#footer-buttons li a{
    text-decoration: none;
    color: black;
    padding: 0px 15px;
    transition: 0.15s;
    font-weight: 500;
}

#footer-buttons li a:active{
    color:white;
    font-weight: bolder;
}

#footer-socialmedia-buttons{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#footer-socialmedia-buttons img {
    display: flex;
    align-items: center;
    padding: 0 8px;
    width: 35px;
    height: 35px;
}

#copyright{
    text-align: center;
}

/*Adjusting logo and adding design*/
#footer-logo{
    font-family: Kristi;
    text-align: center;
    justify-content: center;
}

a#footer-logo{
    color: black;
    font-size: 50px;
}


/*General Button Design for featured componenets in home page*/
.listen-now-button, .more-merch-button, .see-more-button, .more-music-button, .watch-laufey-now-button{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%; /* Make the button responsive*/
    line-height: 45px;
    background-color: white;
    border: 3px solid rgb(66, 66, 66);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: "Roboto Mono";
    font-size: 28px;
    letter-spacing: 30px;
    transition: 0.15s;
    font-weight: 500;
}

.listen-now-button:hover, .see-more-button:hover, .watch-laufey-now-button:hover{
    background-color: rgb(153, 176, 241);
    border: 3px solid rgb(66, 66, 66);
}

.listen-now-button:active, .see-more-button:active, .watch-laufey-now-button:active{
    background-color: white;
}

.more-merch-button:hover, .more-music-button:hover{
    background-color: white;
    border: 3px solid rgb(66, 66, 66);
}

.more-merch-button:active, .more-music-button:active{
    background-color: rgb(153, 176, 241);
}


/*Start of website content*/
/*Desktop view*/
main{
    margin-top: 75px;
    width: 100%;
    height: auto;
}

/*Featured Video Section*/
/*Making the video responsive*/
.featured-video{
    position: relative;
    padding-bottom: 56.25%; /*16:9 aspect ratio*/
    height: auto;
}

.featured-video iframe{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
}

.listen-now-button{
    position: absolute; 
    bottom: -70px; /*Positioning the button at the bottom of the container*/
    left: 5%; /*Centering the button horizontally*/
}

/*Featured merch section and Merch Page*/
.featured-merch{
    margin-top: 85px;
    background-color: rgb(153, 176, 241);
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.featured-merch-container, .all-merch-container{
    display: flex;
    flex-direction: row;
    margin: 0 30px;
}

.merch-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 15%;
}

.merch-items p{
    height: 100px; /*Making the p heights all equal*/
}

.merch-items img{
    max-width: 100%; /*Making sure the image fills up the container*/
}

.merch-details{
    font-family: "Caveat"; 
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-align: center;
}

.merch-details span{
    font-size: 32px;
    font-weight: bolder;
}

.more-merch-button{  /*More Merch Button for Home Page*/
    margin: 25px auto;
    display: block;
    background-color: rgb(153, 176, 241);
}

#merch-html{
    display: flex; /*Make the entire merch html page a flex box*/
    flex-direction: column; /*Arrange all the sections in a column*/
}

#merch-html .featured-merch{
    margin-top: 0; /*Remove the margin at the top of the page*/
    background-color: white; /*Change the background color to white*/
    margin-bottom: 100px; /*Give some space from the all merch section*/
}

#all-merch{
    margin-bottom: 100px;
}

.all-merch-container{
    margin-top: 50px;
    flex-wrap: wrap;
}

.all-merch-container .merch-items{
    flex: 1 1 33%;
    margin-bottom: 30px;
}


/*Featured Tour Section and Tour Page*/
#featured-tour{
    background-color: white;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}

#featured-tour-container{
    display: flex;
    flex-direction: row;
    margin: 20px 40px;
    flex: 1 1 15%;
}

.tour-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#featured-tour-container img{ /*Setting the image size*/
    width: 36%;
    height: 100%;
    margin-right: 20px;
}

.tour-title{
    text-align: left;
    margin: 0 40px;
}

.tour-date-details{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.tour-date-details p{
    flex: 1; /*Make it all equal size */
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 25px; 
    height: 125px;
    padding: 0px 15px 5px 15px;
    margin-top: 0;
    margin-bottom: 15px;
    align-content: flex-start;
}

.tour-date-details p span{
    font-size: 14px;
    font-weight: lighter;
}

.buy-tickets-button, .join-waiting-list-button{
    flex:1;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 25px;
    margin-bottom: 25px;
    text-align: center;
    transition: 0.15s;
}

.buy-tickets-button{
    background-color: rgb(153, 176, 241);
    letter-spacing: 5px;
}

.buy-tickets-button:hover{
    color: rgb(153, 176, 241);
    background-color: white;
    border: 3px solid rgb(153, 176, 241);
}

.buy-tickets-button:active{
    color: white;
    background-color: rgb(153, 176, 241);
}

.see-more-button{
    margin: 30px auto;
}

/*Tour Page*/
#tour-picture-container img{
    width: 100%;
}

.join-waiting-list-button{
    background-color: rgb(24, 37, 75);
    letter-spacing: 1px;
}

.join-waiting-list-button:hover{
    color: rgb(24, 37, 75);
    background-color: white;
    border: 3px solid rgb(24, 37, 75);
}

.join-waiting-list-button:active{
    color: white;
    background-color: rgb(24, 37, 75);
}


#tour-dates-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

/*Featured Music and videos Section*/
#featured-music, #featured-videos{
    margin-top: 60px;
    background: rgb(153, 176, 241);
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

#featured-videos{
    background: rgb(255, 255, 255);
    margin: 0px;
}

#featured-music-wrapper, #featured-videos-wrapper{
    width: 100%;
    margin-top:30px;
    white-space: nowrap; /*Make sure the pictures will not wrap around*/
    overflow: hidden; /*Make sure that extra pictures are not shown and do not change the width of the website*/
}

.featured-music-items-carousell, .featured-videos-carousell{
    display: inline-block; /*Make all the images go side by side*/
    animation: slider infinite 8s linear; /* Make animation infinite and change the speed and make the speed constant*/
}

@keyframes slider { /*Changing the position using animation*/
    from {
      transform: translateX(0); /*Shifting to the start*/
    }
    to {
      transform: translateX(-100%); 
    }
}

.featured-music-items-carousell img{
    height: 400px;
    width: 400px;
    object-fit: cover; /*Make sure it covers the entire area of the container*/
    margin-right: 15px; /*Give some space between the pictures*/
}

.featured-videos-carousell iframe{
    width: 750px;
    height: 420px;
    margin-right: 20px; /*Give some space between the pictures*/
}

#featured-music-wrapper:hover .featured-music-items-carousell{ /*Pause the slider from moving*/
    animation-play-state:paused;
}

#featured-videos-wrapper:hover .featured-videos-carousell{ /*Pause the slider from moving*/
    animation-play-state:paused;
}

.more-music-button{
    display: flex;
    justify-content: center;
    background-color: rgb(153, 176, 241);
    margin: 40px auto;
}

/*Newsletter*/
#newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(153, 176, 241);
    width: 100%;
    height: auto;
    padding: 60px 0 80px 0;
}

#newsletter-form, #newsletter-popup-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#newsletter-form .email, #newsletter-popup-form .email{
    width: 400px;
    height: 20px;
    border: none;
    background: none;
    padding: 10px 15px;
    border-bottom: 1px solid black;
}

#newsletter-form .email::placeholder, #newsletter-popup-form .email::placeholder{
    color: white;
    opacity: 0.9;
    font-size: 18px;
    letter-spacing: 2px;
}

#newsletter-form .submit,  #newsletter-popup-form .submit{
    width: 250px;
    background-color: white;
    color: rgb(153, 176, 241);
    margin-left: 20px;
}

#newsletter-form .submit:hover,  #newsletter-popup-form .submit:hover{
    background-color: rgb(153, 176, 241);
    color: white;
    outline: 2px solid black;
} 

#newsletter-form .submit:active, #newsletter-popup-form .submit:active{
    background-color: white;
    color: rgb(153, 176, 241);
    outline: 2px solid black;
}

/*Newsletter pop up*/
#newsletter-popup{
    background-color: rgb(66, 81, 122);
    position: fixed; /*Make it fixed on the page*/
    top: 30%; /*Make it aligned to the center*/
    left: 10%;
    width: 80%;
    height: 40%;
    z-index: 100001;
    display: flex; /*Make the pop up disappear*/
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
}

#newsletter-popup #close-popup-button{
    position: absolute;
    top: 2%; /*Aligning it at the top right*/
    right: 1%;
    background: none; /*Removing the background and making the button as thin as possible*/
    border: none;
    color: white;
    font-size: 25px;
    font-weight: lighter;
}

#newsletter-popup h2{ /*Changing the margin for the newsletter popup header*/
    margin: 0;
}

/*Contact Page*/
#contact-form{
    margin: 70px auto 70px auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
}

#contact-form #name, #contact-form #email{
    width: 95%; /*To account for extra padding*/
    padding: 10px 15px;
    margin-bottom: 15px;
}

#contact-form #message{
    margin-top: 20px;
    width: 95%; /*To account for extra padding*/
    padding: 10px 15px 200px 15px;
}

#contact-form #email::placeholder, #contact-form #message::placeholder, #contact-form #name::placeholder{
    color: black;
    opacity: 0.9;
    font-size: 14px;
    letter-spacing: 2px;
}

#contact-form #submit{
    width: 95%; /*To account for extra padding*/
    margin: 30px 15px;
    background-color: white;
    color: black;
    outline: 2px solid black;
    letter-spacing: 30px;
    padding-left: 30px;
}

#contact-form #submit:hover{
    background-color: rgb(153, 176, 241);
    color: white;
} 

#contact-form #submit:active{
    background-color: rgb(153, 176, 241);
    color: white;
    outline: none;
}

/*About Page*/
#featured-about-photos{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 7px; /*Give the images space in between*/
}

#featured-about-photos img{
    width: 100%;
    height: auto;
    max-height: 770px; /*Make sure all images equal height*/
    object-fit: cover;
}

#about-laufey-info{
    width: 65%;
    margin: 70px auto;
    font-size: 18px;
    line-height: 25px;
}

#featured-about-video{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#featured-about-video iframe{
    margin: auto;
    width: 60%;
    height: 450px;
}

.watch-laufey-now-button{
    width: 75%;
    margin: 30px auto 80px auto;
}

#tour-merch{
    margin-bottom: 80px;
}

/*Music Page*/
#music-html{
    display: flex; /*Turn the page into a flexbox*/
    justify-content: center; /*Center contents*/
    flex-direction: column; /*Make contents into column*/
    margin-bottom: 50px; /*Give some space from the bottom*/
}

#music-html .listen-now-button{
    position: static; /*Make position default again*/
}

.album-title{
    margin: 0; /*Remove margins*/
    font-size: 28px; /*Increase font size to make readability easier*/
    letter-spacing: 5px; /*Space letters out a bit*/
}

#album-1, #album-2, #album-3, #album-4{
    display: flex; /*Turn main album containers into flex box*/
    margin: 60px auto; /*Give them margin from the top so that they are spaced out*/
    flex: 1; /*Make the sure album sections are all equal height and width*/
    width: 90%; /*Make them only take up 90% of the page*/
}

.album-picture-container{
    flex: 1 1 45%; /*Make picture container take 45% of flex box*/
    margin-right: 20px; /*Give it some space from the album details*/
}

.album-picture-container img{
    width: 100%; /*Make picture take up the whole available width*/
}

.album-details{
    flex: 1 1 55%; /*Make album details take up remaining space of the flex box*/
}

.album-info{
    margin-bottom: 30px; /*Give album info some space from the listen now button*/
}

.album-info li{
    line-height: 26px; /*Make album info items more spaced out and easier to read*/
}

/*Mobile view*/
@media (max-width: 900px){
    h1{
        font-size: 60px; /*Make font-size smaller so it fits the screen*/
    }

    h2{
        font-size: 30px; /*Make font-size smaller so it fits the screen*/
    }

    #nav-container {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin: auto;
        height: 65px; /*Make Nav Bar shorter in height*/
        line-height: 65px;
        transition: 0.3s;
    }

    /*Changing the position of the buttons*/
    #navigation-buttons{
        display: none; /*Making it invisible until button is clicked then display will change to flex*/
        margin-top: 25px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        flex: 2;
        order: 2;
    }

    #navigation-buttons li{
        margin: 0;
    }

    #nav-socialmedia-buttons{
        display: none; /*Making it invisible until button is clicked then display will change to flex*/
        flex:1;
        justify-content: center;
        padding: 0;
        order: 3;
    }

    #nav-socialmedia-buttons img{
        margin: 0 8px;
    }

    /*Adjust the logo to make it centered and the right size*/
    #main-logo{
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translate(-50%, -50%); /*Used to center the logo*/
    }

    a#main-logo{
        color: black;
        font-size: 45px;
    }

    /*Display the hamburger icon*/
    .hamburger{
        display: block; /*Making it visible*/
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin: 12px 40px 17px auto;
        background: none;
        border: none;
        order: 1;
    }

    .bar{
        display: block;
        width: 35px;
        height: 2px;
        background-color: black;
        margin: 7px auto;
    }

    #footer-buttons li a{
        padding: 0px 8px;
    }

    /*Main section*/
    main{
        margin-top: 65px;
    }

    /*Changing all the button font size to fit*/
    .listen-now-button, .more-merch-button, .see-more-button, .more-music-button, .watch-laufey-now-button{
        line-height: 40px;
        font-size: 22px;
        bottom: -65px;
        letter-spacing: 20px;
    }

    /*Featured merch section*/
    .featured-merch{
        height: auto;
        max-height: 12000px;
        padding-top: 15px;
    }

    .featured-merch-container{ /*Make the merch items wrap and stay in the middle*/
        flex-wrap: wrap;
        justify-content: center;
    }    

    .merch-items{ /*Change the size of the merch items*/
        flex: 0 40%;
        margin-bottom: 15px;
    }

    .merch-details{ /*Make the font smaller*/
        font-size: 17px;
    }
    
    .merch-details span{
        font-size: 24px;
    }

    /*Featured music section*/
    .featured-music-items-carousell img{
        width: 250px;
        height: 250px;
    }

    /*Featured video section*/
    .featured-videos-carousell iframe{
        width: 500px;
        height: 300px;
    }

    /*Newsletter section*/
    #newsletter-form,  #newsletter-popup-form{
        flex-direction: column;
    }

    #newsletter-form .email, #newsletter-popup-form .email{
        margin-bottom: 20px;
    }
    
    #newsletter-form .email::placeholder, #newsletter-popup-form .email::placeholder{
        text-align: center;
    }
    
    #newsletter-form .submit, #newsletter-popup-form .submit{
        width: 350px;
        margin: 0;
    }

    #about-laufey-info{
        font-size: 15px;
    }
    
    #featured-about-video iframe{
        margin: auto;
        width: 60%;
        height: 250px;
    }

}

@media (max-width: 992px){ /*Get rid of the image*/
    #featured-tour-container img{
        display: none;
    }
}

@media (max-width: 728px){ /*Make the tour date details centered*/
    #featured-tour-container{
        justify-content: center;
        align-items: center;
        margin-top: 65px;
    }

    .tour-title{
        text-align: center;
    }

    .tour-date-details{
        flex-basis: 25%;
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    .tour-date-details p{
        text-align: center;
        margin-bottom: 10px;
    }

    .buy-tickets-button, .join-waiting-list-button{
        margin-left: 0;
    }

    h1{
        letter-spacing: 10px;
        padding-left: 10px; /*To make it centralised because letter-spacing makes it move to the right*/
    }

    .album-title{
        font-size: 20px; /*Make font-size smaller*/
    }

    .album-info li{
        line-height: 20px; /*Make album info items less spaced outd*/
        font-size: 15px; /*Make font size smaller*/
    }

    #music-html .listen-now-button{
        font-size: 17px; /*Make font-size smaller so the words dont come out of the button JUST FOR THE MUSIC HTML PAGE*/
        letter-spacing: 7px;
    }

    #newsletter-popup .email{ /*Make all newsletter popup elements smaller*/
        width: 200px;
    }

    #newsletter-popup .email::placeholder{
        width: 200px;
        font-size: 15px;
    }

    #newsletter-popup .submit{
        width: 180px;
        font-size: 18px;
    }
}


@media (max-width: 450px){
    h1{
        font-size: 50px;
        letter-spacing: 10px;
        padding-left: 10px; /*To make it centralised because letter-spacing makes it move to the right*/
    }

    #footer-buttons li a{
        padding: 0px 5px;
        font-size: 14px;
    }

    /*Newsletter section*/
    #newsletter #newsletter-form .email{
        width: 300px;
    }
    
    #newsletter #newsletter-form .submit{
        width: 250px;
    }

    #footer-buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-socialmedia-buttons img, #nav-socialmedia-buttons img{
        padding: 0 5px;
        width: 30px;
        height: 30px;
    }

    #contact-form #submit{
        font-size: 18px;
        letter-spacing: 15px;
        padding-left: 15px;
    }
}


/*For even smaller mobile views*/
@media (max-width: 390px){
    h1{
        font-size: 40px;
        letter-spacing: 8px;
        padding-left: 8px; /*To make it centralised because letter-spacing makes it move to the right*/
    }

    h2{
        font-size: 18px;
    }

    .listen-now-button{
        line-height: 40px;
        font-size: 15px;
        bottom: -65px;
        letter-spacing: 12px;
    }

    .featured-videos-carousell iframe{
        width: 300px;
        height: 150px;
        margin-right: 5px;
    }

    #newsletter #newsletter-form .email{ /*Make all newsletter elements smaller*/
        width: 220px;
    }

    #newsletter #newsletter-form .email::placeholder{
        font-size: 15px;
    }

    #newsletter-popup .email{
        width: 150px;
    }

    #newsletter-popup .email::placeholder{
        width: 150px;
        font-size: 10px;
    }

    #newsletter-popup .submit{
        width: 150px;
        font-size: 15px;
    }

    #newsletter h2{
        font-size: 18px;
        
    }

    #footer-socialmedia-buttons img, #nav-socialmedia-buttons img{
        padding: 0 2px;
        margin: 0;
    }  
}  
